# Copy this file to .env and fill in your real values
# Never commit the real .env file to git

DATABASE_URL=postgresql://neondb_owner:npg_P3ibc4vKYsBh@ep-summer-lake-b16uv6kw-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=admin
ACCESS_TOKEN_EXPIRE_MINUTES=60
